/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 4rem;
  border-bottom: 1px solid var(--color-border-light);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -0%);
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-bg-nav);
  backdrop-filter: blur(20px);
  min-height: 6.2rem;
  z-index: 100;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 0.2rem;
}

.nav-links a:hover {
  color: var(--color-text-hover);
}

.hamburger-icon {
  opacity: 70%;
  transition: all 0.3s;
  cursor: pointer;
}

.hamburger-icon:hover {
  opacity: 100%;
}

/* mobile nav */
.nav-links-mobile {
  display: none;
  flex-direction: column;
  gap: 3.2rem;
  list-style: none;
  padding: 1.2rem 4rem;
  position: fixed;
  top: 6.2rem; /* starts just under navbar */
  left: 0;
  width: 100%;
  height: calc(100vh - 6.2rem);
  background-color: var(--color-bg-primary);
  backdrop-filter: blur(20px);
  z-index: 90; /* BELOW navbar, ABOVE main content */
  animation: mobile-nav-drop 300ms linear;
}

.nav-links-mobile a {
  text-decoration: none;
  color: var(--color-text-secondary);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.8rem 0.2rem;
}

.nav-links-mobile a:hover {
  color: var(--color-text-hover);
}

/* toggle class */
.show-mobile-nav {
  display: flex;
}

/* media queries */
@media only screen and (min-width: 1024px) {
  .hamburger-icon {
    display: none;
  }
  .nav-links-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-links {
    display: none;
  }
  .hamburger-icon {
    display: block;
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media only screen and (max-width: 532px) {
  .nav-cta {
    display: none;
  }
  .nav-cta-mobile {
    display: block;
  }
}

@media only screen and (min-width: 532px) {
  .nav-cta-mobile {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  .logo-text {
    display: none;
  }
}

@media only screen and (min-width: 350px) {
  .logo-text {
    display: block;
  }
}

/* animation */
@keyframes mobile-nav-drop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
