/* variables  */
:root {
  /* Backgrounds */
  --color-bg-primary: #121417;
  --color-bg-secondary: #1c2126;
  --color-bg-button: #0d80f2;
  --color-bg-button-hover: #0056b3;

  /* Text */
  --color-text-primary: #ffffff;
  --color-text-secondary: #dddddd;
  --color-text-hover: #ffffff;

  /* Borders / others */
  --color-border-light: #e5e8eb;
  --color-border-dark: #3b4754;
}

/* reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: "Space Grotesk", sans-serif;
}

/* buttons  */
.btn-primary {
  background-color: var(--color-bg-button);
  color: var(--color-text-primary);
  padding: 0.9rem 1.6rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Base container */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* like px-4 */
  padding-right: 1rem;
}

/* Breakpoints like Tailwind */
@media (min-width: 640px) {
  /* sm */
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  /* md */
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  /* lg */
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  /* xl */
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  /* 2xl */
  .container {
    max-width: 1536px;
  }
}
